<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <title>Some website</title>
    </head>
    <body>
    {{> header}}
    <p>Some text fpr About page goes here</p>

    {{> footer}}
    </body>
</html>